<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FastPay</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #fdfffd !important;
            color: #282c3f !important;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            letter-spacing: .3px;
            text-decoration: none;
            text-transform: uppercase;
        }

        a{
            color: #3e4152;
        }

        h3, h5 {
            text-transform: uppercase;
            color: #3e4152;
            letter-spacing: .10em;
            margin: 50px 0 10px 30px;
            max-height: 5em;
            font-weight: 700;
        }

        .card {
            background-color: #ffffff;
            border: 2px solid #ffffff !important;
            border-radius: 8px;
            box-shadow: 2px 2px 2px 4px rgba(0,0,0,.05);
            margin-bottom: 20px;
            padding: 20px;
        }

        .card-title, .card-text {
            color: #333;
        }

        .btn-primary, .addbtn {
            background-color: #0984e3 !important;
            border-color: #0984e3 !important;
            padding: 8px 20px;
            border-radius: 4px;
            font-weight: bold;
            color: white !important;
        }

        .btn-primary:hover, .addbtn:hover {
            background-color: #74b9ff !important;
            border-color: #74b9ff !important;
        }

        .addBalance {
            background-color: #ffffff;
            color: #333;
            border: 1px solid #ced6e0;
            border-radius: 8px;
            padding: 9px;
            margin-right: 10px;
        }

        .section-title {
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .header {
            max-width: 100%;
            background-color: white;
            color: #282c3f;
            padding: 20px;
            border-radius: 8px;
            margin-bottom: 20px;
            box-shadow: 0 4px 12px 0 rgba(0,0,0,.05);
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-transform: uppercase;
        }

        .header h1 {
            margin: 0;
        }

        .view-orders {
            text-align: center;
            text-decoration: none;
            font-size: 14px;
            letter-spacing: .3px;
            color: #282c3f;
            border-bottom: none;
            font-weight: 700;
            text-transform: uppercase;
        }

        .details {
            font-size: 16px;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
        }

        .details-label {
            font-weight: bold;
        }

        .card form {
            max-width: 100%;
            padding: 30px;
        }

        .btn-container {
            display: flex;
            justify-content: center;
        }

        #error-message {
            color: red;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container header">
        <h1><a href="/">FastPay</a></h1>
        <a href="/viewOrders" class="view-orders">View Orders</a>
    </div>
    <center>
        <div id="checkout">
            <h3>Order Food</h3>
            <br>
            <div class="card container col-lg-6" style="width: 40%; background-color: #fff !important">
                <form id="paymentForm">
                    <div class="details">
                        <span class="details-label">Total:</span>
                        <span>₹<%=(total / 100).toFixed(2)%></span>
                    </div>
                    <div class="details">
                        <span class="details-label">Item:</span>
                        <span><%=orderItem%></span>
                    </div>
                    <br><br>

                    <div id="paymentElement"></div>
                    <br>
                    <div id="addressElement"></div>
                    <br>
                    <div class="btn-container">
                        <button id="payButton" class="btn-primary paybutton" type="submit" hidden>Submit</button>
                    </div>
                    <div id="error-message">
                        <!-- Display error message to your customers here -->
                    </div>
                </form>
            </div>
        </div>
    </center>
    <script src="https://js.stripe.com/v3/"></script>
    <script>
        const stripe = Stripe('<%=STRIPE_PUBLISHABLE_KEY%>');
        const options = {mode: 'shipping'}
        const elements = stripe.elements({clientSecret:"<%=client_secret%>"});
        const addressElement = elements.create('address', options);
        const paymentElement = elements.create('payment');
        addressElement.mount('#addressElement');
        paymentElement.mount('#paymentElement');
        document.getElementById('payButton').removeAttribute('hidden');
        document.getElementById('paymentForm').addEventListener('submit', async (event) => {
            event.preventDefault();
            const { error } = await stripe.confirmPayment({
                elements,
                confirmParams: {
                    return_url: 'http://fastpay.com/foodOrderStatus/?orderId=<%=orderId%>',
                }
            });

            if (error) {
                const messageContainer = document.querySelector('#error-message');
                messageContainer.textContent = error.message;
            }
        });
    </script>
</body>
</html>
